[defaults]
# Enable callback plugins
callback_whitelist = log_plays
#
# # Optional: Specify the directory to save logs
# # Uncomment and set path for desired log file location
log_path = /var/log/ansible/plays.log
